# .gitignore mymdb

cobertura.ser
mymdb-config.groovy
/grails-app/conf/config-properties.properties
CodeNarcReport.html
dbsetup.groovy

#.classpath
#.project
#.settings
/*.launch
/*.tmproj

.idea/*
*.iml
*.iws
*.ipr

stacktrace.log
/test/reports
/web-app/WEB-INF/classes
/target

*.war
