div.list table {
	width:100%;
}

tr.movie-listing .info {
	padding: 10px;
}

tr.movie-listing .info .label {
	font-weight: bold;
}

tr.movie-listing .info .title {
	font-weight: bold;
	font-size: large;
	margin-bottom: 8px;
}

tr.movie-listing .info .detail {
	margin-bottom: 2px;
}

.listings {
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 15px;
}

.sub-section {
	margin-bottom: 10px;
	margin-left: 20px;
}

form[action='search'] > input {
	width: 75%;
}