br.page {
	page-break-after:always;
}

div.list table {
	width:100%;
}

tr.movie-listing .info .label {
	font-weight: bold;
}

tr.movie-listing .info .title {
	font-weight: bold;
	font-variant: small-caps;
	font-size: large;
	margin-bottom: 4px;
}

tr.movie-listing .info .detail {
	margin-bottom: 2px;
}

h1 {
	border: 1px solid black;
	background-color: gray;
	color: white;
}

h2 {
	background-color: silver;
	border: 1px dashed black;
}

.left-side {
	float:left;
	clear:right;
}

.right-side {
	float: right;
	clear:right;
}

.odd {
	border-bottom: 1px dashed gray;
}

.grouping {
	font-weight: bold;
	border-bottom: 1px dashed gray;
}

.indent {
	padding-left: 15px;
}